@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300&display=swap');

body{
    font-family: 'Comfortaa', sans-serif;
    background-color: #0A1D56;
}

/*Selector de clase*/

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 30px;
}

.subtitulo{
    color: white;
    font-size: 22px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #492E87;
    padding: 10px;
    box-sizing: border-box;
    /* Para un tamaño sin dañar el tamaño*/
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#buttonMascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input{
    display: none;
}

input:checked + label{
    background: white;
    color: #492E87;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.button-attack{
    background-color: #37B5B6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.button-attack:disabled{
    background-color: white;
    color: #37B5B6;
}

#mensajes{
    width: 280px;
    background: #F2F597;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#button-reset{
    border: none;
    color: #492E87;
    font-family: 'Lato', sans-serif;
}

.ataques{
    display: grid;
    /* Para poner en columnas */
    grid-template-columns: 100px 100px;
    color: white;
    font-size: 12px;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    /* Para alienar al centro */
    flex-direction: column;
    align-items: center;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#mapa{
    border: 2px solid white;
}

@media (max-width: 414px){
    .tarjetas {
        flex-direction: column;
    }
    .tarjetas-ataques {
        flex-direction: column;
    }
}
